<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.am_spring.user.dao.UserMapper">
    <insert id="insertRow"
            parameterType="com.example.am_spring.user.domain.dto.UserRequestDTO">
        INSERT INTO USER_TBL(EMAIL, PASSWORD, NAME)
        VALUES(#{email},#{password},#{name})
    </insert>
</mapper>